<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="../static/benghuai3/images/favicon.ico">
	<title>游戏特色</title>
	<link rel="stylesheet" type="text/css" href="benghuai3/CSS/benghuai-tese.css">
	<script src="jquery/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div id="top">
		<h1 id="fromleft">为世界上<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所有的美好而战</h1>
		<div id="fromleft2">
			<div>在被崩坏侵蚀的世界中<br>由勇敢的少女组成的女武神部队<br>为守护世界而展开了战斗</div>
		</div>
		<div id="bg_2"></div>
		<div id="daohang">
			<a href="index.html"><text><span>首页</span></text></a>
			<a href="zixun.html"><text id="zixun"><span>作战资讯</span></text></a>
			<a href="juese.html"><text id="jieshao"><span>角色介绍</span></text></a>
			<a href="tese.html"><text id="tese"><span>游戏特色</span></text></a>
			<a href="gushi.html"><text id="bg"><span>故事背景</span></text></a>
			<a href="bizhi.html"><text id="download"><span>壁纸下载</span></text></a>
		</div>
	</div>
	<div id="welecome">
		<h1 class="welecome">欢迎加入女武神</h1>
		<div id="floats"></div>
		<div class="beijing">
			在不远的未来,<br>
			<div style="height: 6px"></div>
			神秘的灾害「崩坏」侵蚀了世界,<br>
			<div style="height: 6px"></div>
			被崩坏感染的人类变成了没有思维，<br>
			<div style="height: 6px"></div>
			只懂破坏的「死士」<br><br><br>唯一可以抵抗崩坏的只有那些拥有抗体的少女和由她们组成的「女武神」部队<br>
			<div style="height: 6px"></div>
			少女们穿起冰冷的机甲，<br>
			<div style="height: 6px"></div>
			拿起沉重的武器，<br>
			<div style="height: 6px"></div>
			为了守护这个曾经美好的世界
		</div>
	</div>
	<div class="welecome2">
		<div class="tupian">
			<div class="tp1">
				<img src="benghuai3/images/tese/game_3_chara_1.png" alt="">
			</div>
			<div class="tp2">
				<img src="benghuai3/images/tese/game_3_chara_2.png" alt="">
			</div>
			<div class="tp3">
				<img src="benghuai3/images/tese/game_3_chara_3.png" alt="">
			</div>
			<div class="tp4">
				<img src="benghuai3/images/tese/game_3_chara_4.png" alt="">
			</div>
			<div class="tp5">
				<img src="benghuai3/images/tese/game_3_chara_5.png" alt="">
			</div>
			<div class="tp6">
				<img src="benghuai3/images/tese/game_3_chara_6.png" alt="">
			</div>
		</div>
		<h1 class="welecome3">选择您的战士</h1>
		<div class="choose">
			在游戏中，您将指挥各具特色的少女们进行战斗。<br>
			<div style="height: 50px"></div>
			她们有的是擅长远距离战斗的枪手，,<br>
			<div style="height: 6px"></div>
			有的是身手敏捷的刺客<br>
			<div style="height: 6px"></div>
			也有操纵重型机甲的幼女。<br>
		</div>
		<a href="juese.html">
			<div id="juese">
				<h3>角色介绍</h3>
				<img src="benghuai3/images/tese/game_button_blue.png">
			</div>
		</a>
		<table width="100%" height="120">
			<tbody>
				<tr>
					<td>
						<img src="benghuai3/images/miHoYo_Games.png" width="180" height="auto" style="position: relative;left: 120px">
					</td>
					<td style="padding:12px 0" class="shengming">
						<span>
							▍健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。
						</span><br>
						<div style="height: 5px"></div>
						<span>
								▍用户协议： 
							<a href="/help/privacy/index.html" target="_blank">
							    米哈游游戏使用许可及服务协议</a>&nbsp;&nbsp;
							<a href="" target="_blank">米哈游用户个人信息及隐私保护政策</a>&nbsp;&nbsp;
							<a href="" target="_blank">交易纠纷处理</a>&nbsp;&nbsp;
							<a href="" target="_blank">家长监护工程</a>&nbsp;&nbsp;
							<a href="" target="_blank">防沉迷系统</a>&nbsp;&nbsp;
		    				<a href="" target="_blank">自律公约</a>
		    			</span><br>
		    			<div style="height: 5px"></div>
						<span>▍适龄提示： 本游戏适合17岁（含）以上玩家娱乐</span>
						<p>
							<span>
								沪ICP备14042301号-2 沪网文（2014）0592-182号 文网游备字〔2016〕Ｍ-CSG 1244 号
							</span>
						</p>
						<p>
							<span>
								<a href="" target="_blank"><img style="vertical-align: bottom;" src="benghuai3/images/gongan.png"></a> 沪公网安备31010402001116号
							</span>
						</p>
						<span width="100%" class="alls">
		 					2014-2018 All Rights Reserved 米哈游科技（上海） 有限公司版权所有 
			 				<span>
			 					<a href="" style="text-decoration: none;vertical-align: -webkit-baseline-middle;">
								<img src="benghuai3/images/youxidzbq.png" style="width:18px;"></a>
							</span>
							<span>
								<a href="" style="text-decoration: none;vertical-align: -webkit-baseline-middle;">
								<img src="benghuai3/images/wenhuajingying.png" style="width:24px;"></a>
							</span>
							<p style="float:left">地址：上海市徐汇区宜山路700号C4栋5层&nbsp;&nbsp; 电话：86-021-60331122</p>.
							<p style="clear:both"></p>
							<p style="float:left">投诉电话：021-34203135 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投诉邮箱：tousu@mihoyo.com</p>
							<p style="float:right">
							<a href="" target="_blank" style="position: relative;left: -160px">联系方式</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="" target="_blank" style="position: relative;left: -160px">加入我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="" target="_blank" style="position: relative;left: -160px">免责条款</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" target="_blank" style="position: relative;left: -160px">法律声明</a></p>
						</span>
					</td>
		  		</tr>
			</tbody>
		</table>
	</div>
</body>
<script>
$(function(){
	$("#fromleft").animate({left: "-=500px",opacity: 1},800,function(){
		$("#fromleft2").animate({left: "-=500px",opacity: 1},800);
	});
	//导航栏边框颜色改变
	$("text").hover(function(){
		$(this).animate($(this).css({borderColor: "orange"}),"slow");
	},function(){
		$(this).animate($(this).css({borderColor: "#00c3ff"}),"slow");
	});
	//光点特效
	setInterval("$('#bg_2').animate({left: '-=1px'},60)",110);
	//模糊变清晰
	$(window).scroll(function(){
		if($(window).scrollTop()>=800){
			$("#welecome").animate($("#welecome").css({webkitFilter: 0,filter: "blur(0px)",backgroundSize: 2000}),3000);
			$(".welecome").animate({left: "450px",opacity: 1},800,function(){
				$(".beijing").animate({left: "240px",opacity: 1},800);
			});
		}
		if($(window).scrollTop()>=1653){
			$(".tupian div:eq(0)").animate({top: 0,opacity: 1},200,function(){
				$(".tupian div:eq(1)").animate({top: 0,opacity: 1},200,function(){
					$(".tupian div:eq(2)").animate({top: 0,opacity: 1},200,function(){
						$(".tupian div:eq(3)").animate({top: 0,opacity: 1},200,function(){
							$(".tupian div:eq(4)").animate({top: 0,opacity: 1},200,function(){
								$(".tupian div:eq(5)").animate({top: 0,opacity: 1},200,function(){
									$(".welecome3").animate({left: 480,opacity: 1},400,function(){
										$(".choose").animate({left: 400,opacity: 1},400,function(){
											$("#juese").animate({left: 270,opacity: 1},400);
										});
									});
								});
							});
						});
					});
				});
			});
		}
	});
	setInterval(function(){
		var c=$("#floats").offset();
		if(c.left>=60){
			$("#floats").animate({left: "0px"},3000);
		}else if(c.left<=0){
			$("#floats").animate({left: "60px"},3000);
		}
	},1000);
	$(window).scroll(function(){
		if($(window).scrollTop()>=280){
			$("#daohang").fadeOut();
		}else if($(window).scrollTop()<=280){
			$("#daohang").fadeIn();
		}
	})
});
</script>
</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>